body, html{
    padding:0;
    margin:0;
}

body {
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.mainDoc {
  background-color: white;
  border-radius: 25px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px
}

.qrCode img {
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.section2{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  margin-bottom: -5px;
}

.paragraph p{
  font-size: 15px;
  color: gray;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -5px;
}